@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
}

/* --- vrchní lišta s kontakty --- */

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.top-bar_social-icons,
.top-bar_contacts {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.top-bar_social-icons {
  margin-top: 10px;
}
/* --- zarovnání ikon a textu na střed ---*/
.top-bar_contacts span {
  display: flex;
  align-items: center;
  gap: 5px;
  color: green;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: black;
}

/* --- header title logo(index) --- */

header {
  padding: 30px;
  background-color: rgb(242, 253, 247);
  text-align: center;
}



.header_icon {
  margin: 0 0 20px 0;
  padding-top: 15px;
}

.header_title {
  font-weight: 300;
  font-size: 3.2em;
}


/* --hamburger menu + close -- */
.menu-close {
  position: relative;
}

.hamburger-menu {
  width: 24px;
  height: 24px;
  display: none;

}

.close {
  width: 24px;
  height: 24px;
  display: none;
}
/* -- vytvoření tříd pro přepínání viditelnosti a skrytí elementů -- */

.block {
  display: block !important;
}

.none {
  display: none !important;
}

/* --- navigation --- */

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0); /* přidáme transform, ale necháme menu viditelné */
}

.main-nav li {
  list-style-type: none;
  margin: 50px 20px 20px;
  display: block;
}

/* -- .main-nav .mobile-contact dáváme jen kvůli tomu, aby se v desktop verzi nezobrazily kontakty jak div => top-bar a kvůli vyšší specifičnosti */
.main-nav .mobile-contact {
  display: none;
}

.main-nav li a {
  display: block;
  width: 100px;
  border-radius: 5px;
}

.main-nav li :hover {
  background-color: rgb(150, 218, 186);
}
/* --přidáme třídu active, pro orientaci na které stránce se právě nacházíme pomocí javascriptu-- */
.main-nav a.active {
  background-color: rgb(150, 218, 186);
  border-radius: 5px;
  font-weight: 600;
}

/* --- main sekce --- */
/* --- section intro --- */

.main_intro-wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 200px;
  height: 600px;
}

.intro_content {
  width: 30%;
}

.intro_content p {
  margin-bottom: 80px;
  text-align: justify;
}

.intro_content a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  background-color: rgb(150, 218, 186);
  border-radius: 9px;
  font-weight: 600;
  margin-left: 100px;
  text-decoration: none;
}

.intro_content a:hover {
  color: rgb(238, 24, 24);
}

h2 {
  margin-bottom: 20px;
  font-weight: 500;
}

.intro_photo img {
  border-radius: 12px;
  width: 100%; /*-- zajišťuje , že obrázek bude využívat vždy celou šířku rodičovského elementu --*/
  height: auto; /*-- výška se automaticky upraví podle šířky při zachování poměru stran  */
  max-width: 100%; /*-- zajistí, že obrázek nikdy nebude větší než rodičovský element */
}

/* --- section services --- */

.main_services-wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(242, 253, 247);
  padding: 150px 0 0 0;
  height: 600px;
}

.services_left {
  width: 25%;
}

.services_right {
  width: 40%;
  text-align: justify;
}

.services_right p {
  margin-bottom: 80px;
}

.services_right a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  background-color: rgb(150, 218, 186);
  border-radius: 9px;
  font-weight: 600;
  margin-left: 100px;
  text-decoration: none;
}

.services_right a:hover {
  color: rgb(238, 24, 24);
}

/* --- service page --- */

.service-page_article {
  width: 46%;
  margin: 100px auto;
  text-align: center;
}

.service-page_title {
  font-size: 1.5em;
  font-weight: 500;
}

.service-page_photo {
  max-width: 500px;
  margin: 0 auto;
}

.service-page_photo img {
  border-radius: 12px;
  margin: 40px 0 50px 0;
  width: 100%; /*-- zajišťuje , že obrázek bude využívat vždy celou šířku rodičovského elementu --*/
  height: auto; /*-- výška se automaticky upraví podle šířky při zachování poměru stran  */
  max-width: 100%; /*-- zajistí, že obrázek nikdy nebude větší než rodičovský element */
}

.service-page_article p {
  margin: 20px 0 20px 0;
  text-align: justify;
}

/* --- price page --- */
/* --- classic massage --- */

.price-page_price-list {
  width: 80%;
  font-size: 1.1em;
}

.price-page_title {
  margin-top: 100px;
  display: block;
  font-size: 1.5em;
  text-align: center;
  font-weight: 500;
}

.price-page_price-list h2 {
  font-weight: 400;
}

.price-page_price-list {
  margin: 50px auto;
  width: 50%;
}

.price-list_classic-massage {
  margin-left: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(145, 206, 173);
}

.price-list_classic-massage p {
  width: 60%;
  text-align: justify;
  margin-top: 10px;
}

.classic-massage_align {
  display: flex;
  justify-content: space-between;
  color: green;
  font-weight: 500;
}

/* --- price list traffic --- */

.price-list_traffic {
  margin: 20px 0 0 20px;
}

.price-list_traffic p {
  width: 60%;
  text-align: justify;
  margin-top: 10px;
}

.classic-massage_traffic-align {
  display: flex;
  justify-content: space-between;
  color: green;
  font-weight: 500;
}

/* --- section contacts --- */

.main_contacts-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 100px 0 60px 0;
  line-height: 2.9em;
  height: 400px;
}

.contacts_left {
  width: 30%;
}

.contacts_left p {
  text-align: justify;
}

.contacts_right {
  width: 30%;
}

.main_contacts-wrapper h2 {
  margin-bottom: 50px;
}

.main_contacts-wrapper p {
  font-weight: 600;
}

.main_contacts-wrapper li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main_contacts-wrapper a {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
  background-color: rgb(242, 253, 247);
  padding-bottom: 10px;
}
